.interior{
    background-color: #DBE3E3;
    margin-bottom: 3rem;
    padding: 1rem;
    height: 8rem !important;
}
.titulo{
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.selector .MuiOutlinedInput-root {
  border-radius: 4px; /* Ajusta el border-radius si quieres bordes más redondeados */
 
}

.selector .MuiInputBase-input {
  text-align: center; /* Centra el texto dentro del input */
}

.selector {
  margin-bottom: 1px !important;
  height: 3px !important;
  width: 15rem;
}

.textoarea{
  height: 4rem;
  width: 15rem !important;
  resize: none;
  width: 95%;
  padding: 5px;
  font-size: 0.9rem;
  border: 1px solid #1ECCCC;
  border-radius: 5px;
}


.selector .textarea {
  width: 100%; /* Ajusta según sea necesario */
  padding: 8px;
  border-radius: 4px; /* Ajusta el border-radius si quieres bordes más redondeados */
  border: 1px solid #ccc; /* Ajusta el color del borde */
  resize: none; /* Previene el redimensionamiento manual */
}


.medio{
  margin-left: 2rem;

}


.final{
  
  width: 10rem;
  
}

.interno{
  margin-left: 3rem;
  
}