.custom-navbar-color {
    background-color: #ffffff;
    height: 5rem;
    position: relative; /* Para centrar el título con position: absolute */
}

.boton-seleccionado {
    background-color: #1ba5a5 !important;
}

.lineaCeleste {
    background-color: #1ecccc;
    height: 0.3rem;
}

.colorTexto {
    color: #1ecccc !important;
    padding-top: 0rem;
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    text-decoration: none !important;
}

.colorTextoGris {
    color: #e0e0e0 !important;
    padding-top: 0rem;
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    text-decoration: none !important;
}

.iconoperfil {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #e0e0e0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #000;
}

.nav-link:hover, .nav-link.active {
    background-color: rgba(217, 226, 228, 0.5);
    border-radius: 5px;
}

.navbar-title {
    font-size: 2rem; /* Aumenta el tamaño de la letra */
    font-weight: bold;
    color: #1ecccc;
    position: absolute; /* Centrado */
    left: 50%; /* Centrado */
    transform: translateX(-50%); /* Centrado */
}
